HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### IntelliJ IDEA ###
.idea/
*.ipr
*.iml
*.iws
target
**/target

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Eclipse/STS ###
.settings/
#.project
#.classpath

### VS Code ###
.vscode/

# Temp Ignore
#*.log
*.cache
*.diff
*.patch
*.tmp

# System Ignore
.DS_Store
Thumbs.db

### MVN ###
.mvn
mvnw
mvnw.cmd

# Maven ignore
.flattened-pom.xml

# IDEA Platform Development Related
out
# /*.jar
